p{
  font-size: 3vw;
}


h1{
  font-size:8vw;
}

.col{
  border: 2px solid #000;
}


.col{
  padding: 2%;
}

.bg-pink{
  background-color: pink;
}

.has-bg-image1{
  background: url(img/fall1.jpg);
}

.italic{
  font-style: italic;
}
